<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="/images/profile-picture.png"
             alt="Scott Swarthout"/>
        <div class="profile-content pull-left">
            <h1 class="name">{{ with .Site.Params.author}}{{.}}{{ end }}</h1>
            <h2 class="desc">{{ with .Site.Params.profession }}{{.}}{{ end }}</h2>
            <ul class="social list-inline">
                <li><a href={{ with .Site.Params.social.twitter }}{{.}}{{ end }}><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href={{ with .Site.Params.social.google }}{{.}}{{ end }}><i class="fa fa-google-plus"></i></a>
                </li>
                <li><a href={{ with .Site.Params.social.linkedin }}{{.}}{{ end }}><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href={{ with .Site.Params.social.github }}{{.}}{{ end }}><i class="fa fa-github-alt"></i></a>
                </li>
            </ul>
        </div>
        <!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="mailto:{{ with .Site.Params.email }}{{.}}{{ end }}" target="_blank"><i
                class="fa fa-paper-plane"></i> Contact Me</a>
    </div>
    <!--//container-->
</header>