<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>{{with .Site.Params.location}} {{.}} {{ end }}
                </li>
                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">{{with .Site.Params.email}} {{.}} {{ end }}</a>
                </li>
                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">{{with .Site.Params.website}} {{.}} {{ end }}</a>
                </li>
            </ul>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//aside-->