<!-- Javascript -->
    <script type="text/javascript" src="/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="/plugins/github-activity/dist/mustache/mustache.min.js"></script>
    <script type="text/javascript" src="/plugins/github-activity/dist/github-activity-0.1.1.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/js/main.js"></script>