<aside class="testimonials aside section">
    <div class="section-inner">
        <h2 class="heading">Testimonials</h2>
        <div class="content">
            <div class="item">
                <blockquote class="quote">
                    <p><i class="fa fa-quote-left"></i>Example Quote</p>
                </blockquote>
                <p class="source"><span class="name">Example Name</span>
                    <br /><span class="title">Example Title</span>
                </p>
            </div>
            <!--//item-->
            <p><a class="more-link" href="https://www.linkedin.com/profile/view?id=371261133"><i class="fa fa-external-link"></i> More on Linkedin</a>
            </p>

        </div> -->
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section